<a href='https://www.darshan.ac.in/'> <img src='https://www.darshan.ac.in/Content/media/DU_Logo.svg' width="250" height="300"/></a>
<pre>
<center><b><h1>Data Mining</b></center>
<center><b><h1>Lab - 4</b></center>    
<pre>



### Step 1. Import the necessary libraries

In [70]:
import pandas as pd
import numpy as np

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv).

### Step 3. Assign it to a variable called chipo.

In [71]:
chipo = pd.read_csv('https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv', sep='\t')

### Step 4. See the first 10 entries

In [72]:
chipo.head(10)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98
6,3,1,Side of Chips,NaN,$1.69
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",$9.25
9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",$9.25

### Step 5. What is the number of observations in the dataset?

In [73]:
# Solution 1

chipo.shape[0]

4622

In [74]:
# Solution 2

chipo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4622 entries, 0 to 4621
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   order_id            4622 non-null   int64
 1   quantity            4622 non-null   int64
 2   item_name           4622 non-null   object
 3   choice_description  3376 non-null   object
 4   item_price          4622 non-null   object
dtypes: int64(2), object(3)
memory usage: 180.7+ KB

### Step 6. What is the number of columns in the dataset?

In [75]:
chipo.shape[1]

5

### Step 7. Print the name of all the columns.

In [76]:
chipo.columns

Index(['order_id', 'quantity', 'item_name', 'choice_description',
       'item_price'],
      dtype='object')

### Step 8. How is the dataset indexed?

In [77]:
chipo.index

RangeIndex(start=0, stop=4622, step=1)

### Step 9. Number of Unique Items ?

In [78]:
len(chipo['item_name'].unique())

50

### Step 10. Which was the most-ordered item?

In [79]:
# chipo['item_name'].max() --> this gives item based on alphabatical order(V)
                                                            #here we cant take item_name bcz we groupby it
chipo.groupby('item_name').sum().sort_values('quantity',ascending=False).head(1)['quantity']

item_name
Chicken Bowl    761
Name: quantity, dtype: int64

### Step 11. How many items were orderd in total?

In [80]:
chipo['quantity'].sum()

np.int64(4972)

### Step 12. Turn the item price into a float

#### Step 12.a. Check the item price type

In [81]:
chipo['item_price'].dtype

dtype('O')

#### Step 12.b. Create a lambda function and change the type of item price

In [82]:
# chipo['item_price'].astype('float64')
# for i in chipo['item_price']:
#     i[1:]

converted = lambda x: float(x[1:-1])
chipo['item_price'] = chipo['item_price'].apply(converted)

#### Step 12.c. Check the item price type

In [83]:
chipo['item_price'].dtype

dtype('float64')

### Step 14. How much was the revenue for the period in the dataset?

In [97]:
(chipo['item_price'] * chipo['quantity']).sum()

np.float64(39237.02)

### Step 15. How many orders were made ?

In [87]:
chipo.tail()

,order_id,quantity,item_name,choice_description,item_price
4617,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",11.75
4618,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",11.75
4619,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",11.25
4620,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",8.75
4621,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",8.75

In [98]:
chipo['order_id'].max()

np.int64(1834)

### Step 17. How many different choice descriptions are there?

In [108]:
chipo['choice_description'].nunique()

1043

In [96]:
chipo['choice_description'][1000]

'[Roasted Chili Corn Salsa (Medium), [Rice, Cheese]]'

### Step 18. What items have been ordered more than 100 times?

In [105]:
# a=chipo.groupby('item_name')['quantity'].sum()
# a[a>100]

chipo.groupby('item_name')['quantity'].sum() > 100

item_name
6 Pack Soft Drink                        False
Barbacoa Bowl                            False
Barbacoa Burrito                         False
Barbacoa Crispy Tacos                    False
Barbacoa Salad Bowl                      False
Barbacoa Soft Tacos                      False
Bottled Water                             True
Bowl                                     False
Burrito                                  False
Canned Soda                               True
Canned Soft Drink                         True
Carnitas Bowl                            False
Carnitas Burrito                         False
Carnitas Crispy Tacos                    False
Carnitas Salad                           False
Carnitas Salad Bowl                      False
Carnitas Soft Tacos                      False
Chicken Bowl                              True
Chicken Burrito                           True
Chicken Crispy Tacos                     False
Chicken Salad                            False
Chicken Salad Bowl                        True
Chicken Soft Tacos                        True
Chips                                     True
Chips and Fresh Tomato Salsa              True
Chips and Guacamole                       True
Chips and Mild Fresh Tomato Salsa        False
Chips and Roasted Chili Corn Salsa       False
Chips and Roasted Chili-Corn Salsa       False
Chips and Tomatillo Green Chili Salsa    False
Chips and Tomatillo Red Chili Salsa      False
Chips and Tomatillo-Green Chili Salsa    False
Chips and Tomatillo-Red Chili Salsa      False
Crispy Tacos                             False
Izze                                     False
Nantucket Nectar                         False
Salad                                    False
Side of Chips                             True
Steak Bowl                                True
Steak Burrito                             True
Steak Crispy Tacos                       False
Steak Salad                              False
Steak Salad Bowl                         False
Steak Soft Tacos                         False
Veggie Bowl                              False
Veggie Burrito                           False
Veggie Crispy Tacos                      False
Veggie Salad                             False
Veggie Salad Bowl                        False
Veggie Soft Tacos                        False
Name: quantity, dtype: bool

### Step 19. What is the average revenue amount per order?

In [107]:
# Solution 1

chipo.groupby('order_id')['item_price'].mean()

order_id
1        2.890000
2       16.980000
3        6.335000
4       10.500000
5        6.850000
          ...
1830    11.500000
1831     4.300000
1832     6.600000
1833    11.750000
1834     9.583333
Name: item_price, Length: 1834, dtype: float64

In [110]:
# Solution 2
l = chipo['order_id'].unique()
l

array([   1,    2,    3, ..., 1832, 1833, 1834])

In [ ]:
ans = []
for i in l:
    sum = 0
    cnt = 0
    while chipo['order_id'].value == i:
        sum += chipo['item_price'].where('order_id' == i)
        cnt+=1
    ans.append(sum/cnt)
ans