<a href='https://www.darshan.ac.in/'> <img src='https://www.darshan.ac.in/Content/media/DU_Logo.svg' width="250" height="300"/></a>
<pre>
<center><b><h1>Data Mining</b></center>
<center><b><h1>Lab - 7 (Part 2)</b></center>    
<pre>

### Step 1: Load the Dataset
Load the `Tdata.csv` file and display the first few rows.

In [1]:
import pandas as pd

df = pd.read_csv("Tdata.csv")
df.head()

  Transaction  bread  butter  coffee  eggs  jam  milk
0          T1      1       1       0     0    0     1
1          T2      1       1       0     0    1     0
2          T3      1       0       0     1    0     1
3          T4      1       1       0     0    0     1
4          T5      1       0       1     0    0     0

### Step 2: Drop the 'Transaction' Column
We're only interested in the items (not the transaction IDs).

In [2]:
df = df.drop(columns=['Transaction'], axis=1)

In [3]:
df.head()

   bread  butter  coffee  eggs  jam  milk
0      1       1       0     0    0     1
1      1       1       0     0    1     0
2      1       0       0     1    0     1
3      1       1       0     0    0     1
4      1       0       1     0    0     0

### Step 3: Count Single Items
See how many transactions include each item.

In [4]:
df.shape

(6, 6)

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6 entries, 0 to 5
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   bread   6 non-null      int64
 1   butter  6 non-null      int64
 2   coffee  6 non-null      int64
 3   eggs    6 non-null      int64
 4   jam     6 non-null      int64
 5   milk    6 non-null      int64
dtypes: int64(6)
memory usage: 420.0 bytes

In [6]:
df.sum(axis=1)

0    3
1    3
2    3
3    3
4    2
5    3
dtype: int64

In [15]:
df.sum()

bread     5
butter    3
coffee    2
eggs      2
jam       2
milk      3
dtype: int64

In [9]:
# df.value_counts

### Step 4: Define Apriori Function
This function finds frequent itemsets of size 1, 2, and 3 with minimum support.

In [33]:
from itertools import combinations

def find_freq(df,min_s=0.6):
    n = len(df)
    res = []
    
    for i in range(1,4):
        for itm in combinations(df.columns,i):
            mask = df[list(itm)].all(axis=1)
            sup = mask.sum()/n
            if sup >= min_s:
                res.append((frozenset(itm),round(sup,2)))
    return res

In [30]:
list(combinations(df.columns,3))

[('bread', 'butter', 'coffee'),
 ('bread', 'butter', 'eggs'),
 ('bread', 'butter', 'jam'),
 ('bread', 'butter', 'milk'),
 ('bread', 'coffee', 'eggs'),
 ('bread', 'coffee', 'jam'),
 ('bread', 'coffee', 'milk'),
 ('bread', 'eggs', 'jam'),
 ('bread', 'eggs', 'milk'),
 ('bread', 'jam', 'milk'),
 ('butter', 'coffee', 'eggs'),
 ('butter', 'coffee', 'jam'),
 ('butter', 'coffee', 'milk'),
 ('butter', 'eggs', 'jam'),
 ('butter', 'eggs', 'milk'),
 ('butter', 'jam', 'milk'),
 ('coffee', 'eggs', 'jam'),
 ('coffee', 'eggs', 'milk'),
 ('coffee', 'jam', 'milk'),
 ('eggs', 'jam', 'milk')]

### Step 5: Run Apriori
Set `min_support = 0.6` and display the frequent itemsets.

In [36]:
new_df = pd.DataFrame(find_freq(df))

### Step 6 Display as a DataFrame

In [37]:
new_df.head()

         0     1
0  (bread)  0.83

# Orange Tool : - >Generate Same Frequent Patterns in Orange tools

# Extra : - >  Define Apriori Function without itertools